<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="busanIt403.Instagram.mapper.UserMapper">

    <select id="findByUsername" resultType="busanIt403.Instagram.model.UserModel">
        SELECT num, username, role, password FROM Instagram.user where username = #{username};
    </select>

    <insert id="register">
        INSERT INTO user (username, password, role) VALUES (#{username}, #{password}, #{role})
    </insert>



</mapper>